/*
.ap
{
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}
.AddForm{
    padding: 10px;
    opacity: 1;
    background-color:lightgrey;
    max-width: 700px;
    position: absolute;
    top: 170px;
    left: 50%;
    margin-left: -272px;
    width:100%;
    display: flex;
    justify-content: center;
    border:3px solid black;
    z-index: 25;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(219, 226, 226);
}
.row{
    background: white;
    border-radius: 20px;
}
h1{
    align-content: center;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 120%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    padding: 5%;
}
.btn1:hover{
    background-color: white;
    border: 1px solid;
    color: black;
}
.btn2
{
    border: none;
    outline: none;
    height: 50px;
    width: 120%;
    background-color: black;
    color: white;
    border-radius: 4px;
    font-weight: bold;
    padding: 5%;
}
.btn2:hover{
    background-color: white;
    border: 1px solid;
    color: black;
}
*/
.row{
    background-color: rgb(218, 213, 213);
    border-radius: 30px;
    box-shadow: 12px 12px 22px grey;
    width: auto;
}
img{
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height: 1250px;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: black;
    color:white;
    border-radius: 4px;
    font-weight: bold;
}
form{
    width: 700px;
}
